<table>
  <tbody>
        <tr>
            <th>タイトル</th>
            <td><%= @cafe.title %></td>
        </tr>
        <tr>
            <th>内容</th>
            <td><%= @cafe.content %></td>
        </tr>
  </tbody>  
</table>