body{
    background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
 
    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
    background-color: #DEB887;
}

.link {
    text-decoration: none;
    color: white; 
    padding: 5px;
    background:#330000;
}


.cover-index {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sample3.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.one-post {
  margin: 5px 30px;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.icon{
  width: 500px;
  height: 500spx;
}

header {
  height: 50px;
  width: 100%;
  padding: 15px 0;
  background-color: #330000;
  color: white;
}

header .headline{
    line-height: 50px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}


.right {
    text-align: right;
}

body {
    border: solid;
}







// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
